@use 'sass:color';

// ==== COLORS ==== //

$black: rgb(0 0 0);
$white: rgb(255 255 255);
$midnight-blue: rgb(24 24 35);
$gray-light: rgb(196 196 196);
$gray-medium: rgb(132 145 160);
$gray-dark: rgb(91 104 118);
$purple: rgb(82 33 230);
$green: rgb(60 199 78);
$pink: rgb(233 93 144);
$peach: rgb(255 243 228);
$violet: rgb(251 228 255);
$blue: rgb(96 155 255);

/* background */
$bg-main: $black;
$bg-accent: $midnight-blue;
$bg-accent-light: $peach;
$bg-accent-violet: $violet;

/* text */
$text-main: $white;
$text-accent-grey: $gray-medium;
$text-accent-grey-dark: $gray-dark;
$text-accent-purple: $purple;
$text-accent-blue: $blue;
$text-accent-green: $green;
$text-accent-pink: $pink;

/* title */
$title-accent: $gray-medium;
$title-light: $white;
$title-dark: $black;
$title-accent-dark: $midnight-blue;

/* subtitle */
$subtitle-main: $white;

/* link */
$link-bg-active: $purple;
$link-accent: $midnight-blue;
$link-border-bg: $gray-medium;

/* burger */
$burger-line: $gray-light;

/* counter */
$counter-color: $gray-medium;

/* list-works */
$list-works-border: 1px solid $midnight-blue;

/* quote */
$quote-border-color: $gray-dark;

/* button */
$button-bg-hover: $midnight-blue;
$button-bg-active: $purple;
$button-border: 1px solid $purple;
$button-submit-bg: $purple;

// ==== TYPOGRAPHY ==== //
$font-family-primary: 'Sen', sans-serif;
