@use '../../styles/variables' as variables;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: variables.$bg-main;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;

  @media (width <= 480px) {
    min-height: 72px;
  }
}

.link {
  &Logo {
    display: block;

    img {
      display: block;
    }
  }

  &Nav {
    text-decoration: none;
    color: variables.$text-main;
    font-size: 16px;
    transition: text-decoration 0.3s ease;
    text-decoration-color: transparent;

    &:hover {
      text-decoration: underline solid variables.$white 1px;
      text-underline-offset: 2px;
      text-underline-position: under;
    }

    @media (width <= 767px) {
      font-size: 24px;
    }
  }
}

.nav {
  transition: transform 0.5s ease;

  &Links {
    display: flex;
    gap: 48px;
    height: 100%;
    align-items: center;

    @media (width <= 767px) {
      display: flex;
      flex-direction: column;
    }
  }

  @media (width <= 767px) {
    background-color: variables.$bg-main;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 88px;
    right: 0;
    transform: translateX(100%);
    z-index: 4;
  }

  @media (width <= 480px) {
    top: 72px;
  }

  &Open {
    transform: translateX(0);
  }
}

.active {
  &Link {
    display: flex;
    align-items: center;
    background-color: variables.$link-bg-active;
    min-height: 88px;
    padding: 0 25px;
    transition: all 0.5s ease;
  }
}

.burger {
  display: none;
  position: relative;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0 3px;

  &::before, span {
    height: 2px;
    background-color: variables.$burger-line;
  }

  &::before {
    content: "";
    display: block;
    width: 18px;
    transition: transform 0.5s ease;
  }

  span {
    width: 13px;
    align-self: flex-end;
    transition: transform 0.5s ease, width 0.5s ease;
  }

  &Open {
    &::before, span {
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    span {
      width: 18px;
      transform: rotate(-45deg);
    }
  }

  @media (width <= 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
