@use './styles/variables' as variables;
@use './styles/fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: variables.$bg-main;
  color: variables.$text-main;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 72px;
  margin: 0 auto;

  @media (width <= 768px) {
    padding: 0 40px;
  }

  @media (width <= 480px) {
    padding: 0 20px;
  }
}

.section {
  padding: 120px 0;

  @media (width <= 767px) {
    padding: 80px 0;
  }

  @media (width <= 480px) {
    padding: 48px 0;
  }
}

.section-title {
  font-weight: 700;

  &--small {
    color: variables.$title-accent;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
  }

  &--big {
    font-size: 55px;
    line-height: 66px;
    margin-bottom: 24px;

    @media (width <= 767px) {
      font-size: 32px;
      line-height: 39px;
    }
  }
}

.section-subtitle {
  color: variables.$subtitle-main;
  font-size: 55px;
  font-weight: 700;
  line-height: 66px;

  @media (width <= 767px) {
    font-size: 32px;
    line-height: 39px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
